[project]
	description = OpenStack Networking (Neutron)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wwatcmss
[access "refs/for/refs/*"]
	read = group user/wwatcmss
	push = group user/wwatcmss
	label-Code-Review = -2..+2 group user/wwatcmss
	label-Verified = -1..+1 group user/wwatcmss
	rebase = group user/wwatcmss
	removeReviewer = group user/wwatcmss
	submit = group user/wwatcmss
[access "refs/heads/*"]
	read = group user/wwatcmss
	create = group user/wwatcmss
	push = +force group user/wwatcmss
	pushMerge = group user/wwatcmss
[access "refs/tags/*"]
	push = group user/wwatcmss
	push = +force group user/wwatcmss
